
<div class="fixed-bottom footer">

<ul class="nav nav-tabs icones" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="rede-tab" data-toggle="tab" href="#rede" role="tab" aria-controls="rede" aria-selected="true">
      <i class="fa fa-calendar"></i>
      <br>
      Minha Rede
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="plano-tab" data-toggle="tab" href="#plano" role="tab" aria-controls="plano" aria-selected="false">
      <i class="fa fa-address-card"></i>
      <br>
      Meu Plano
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="saude-tab" data-toggle="tab" href="#saude" role="tab" aria-controls="saude" aria-selected="false">
      <i class="fa fa-heartbeat"></i>
      <br>
      Minha Saúde</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contato-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contato" aria-selected="false">
      <i class="fa fa-paper-plane"></i>
      <br>
      Meu Contato</a>
  </li>
</ul>
</div>