<app-menu></app-menu>
<div class="container">
  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="rede" role="tabpanel" aria-labelledby="rede-tab"> 
    
 add
    <a routerLink="/auth/dashboard">
      <div class="botoes voltar">
          <i class="fa fa-arrow-left"></i> Voltar
      </div>
    </a>

  </div>
  <div class="tab-pane fade" id="plano" role="tabpanel" aria-labelledby="plano-tab">
   <div class="botoes">
            <i class="fa fa-calendar"></i> Cartões
        </div>
    
    <div class="botoes">
        <i class="fa fa-laptop"></i> Demonstrativos de I.R
    </div>

  </div>
  <div class="tab-pane fade" id="saude" role="tabpanel" aria-labelledby="saude-tab">
 <div class="botoes">
            <i class="fa fa-calendar"></i> Prontuario
        </div>
    
    <div class="botoes">
        <i class="fa fa-laptop"></i> Vacinas
    </div>

  </div>
  <div class="tab-pane fade show active" id="contato" role="tabpanel" aria-labelledby="contato-tab">
 <a routerLink="/auth/dashboard">
      <div class="botoes voltar">
          <i class="fa fa-arrow-left"></i> Voltar
      </div>
    </a>
     <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="sucessoCadastro">
            <strong>Contato editado com sucesso. </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          </div>
      <form [formGroup]="f">
        <div class="row">
          <div class="col-3">
            Nome:
          </div>
          <div class="col-8">
            <input type="text" disabled value="{{nome}}">
          </div>
          <div class="col-3">
            Endereco:
          </div>
          <div class="col-8">
            <input type="text" id="logradouro" name="logradouro" value="{{user.logradouro}}"  formControlName="logradouro">
            <input type="hidden" id="id" name="id" value="{{user.id}}"  formControlName="id">
          </div>
          <div class="col-3">
            Telefone:
          </div>
          <div class="col-8">
             <input type="text" id="telefone" name="telefone" value="{{user.telefone}}"  formControlName="telefone"> 
          </div>
          
          <div class="col-12">
                 <input type="submit" (click)="onSubmit()" class="btn btn-primary" value="Feito" />

          </div>
        </div>
</form>
  </div>
</div>
</div>
<app-footer></app-footer>


