<div class="container">
  <div class="row header">
    <img src="assets/img/logo-amil.png" alt="Amil logo">
  </div>
  <div class="row">
    <p class="titles">Opções apenas de exemplo</p>
    <div class="menus btn1">Amil clientes <i class="fa fa-arrow-right"></i></div>
    <div class="menus btn2">Amil médicos <i class="fa fa-arrow-right"></i></div>
    <div class="menus btn3">Amil corretores <i class="fa fa-arrow-right"></i></div>
    <p class="titles">Opção para avaliação </p>
    
    <a class="menus btn4" routerLink="/auth/login">Área restrita <i class="fa fa-arrow-right"></i>
    
    </a>
  </div>

</div>